@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Tienne:wght@700&display=swap');

body {
    margin: 0;
    }
.cabecalho{
    background-color: #19A7CE;
    color: #000000;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
}

.logo {
    width: 250px;
    height: 150px;
    padding: 25px 45px 0;
}

.titulo {
    padding-left: 45px;
    margin: 2px;
}

#busca {
    background-color: aliceblue;
    border: 1px solid;
    border-radius: 15px;
    width: 300px;
    align-items: center;
    float: left;
}

#txtbusca {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-style: italic;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 260px;
   
}