@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Tienne:wght@700&display=swap');

body {
    margin: 0;
    }
.cabecalho{
    background-color: #19A7CE;
    color: #000000;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
}

.cabecalho div {
    display: inline-block;
}

.logo {
    width: 250px;
    height: 150px;
    padding: 25px 45px 0;
}

.titulo {
    padding-left: 45px;
    margin: 2px;
}

#busca {
}

#txtbusca {
    display: inline-block;
    background-color: transparent;
    padding-left: 5px;
    font-style: italic;
    font-size: 18px;
    border: 1px solid black;
    color: #fff;
    height: 32px;
    width: 260px;
}

.barrafavoritos {
    box-sizing: border-box;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background: #ffffff;
    border: 1px solid black;
    box-shadow: 0px 4px 4px;
    padding-top: 50px;
}

.favoritos {
   font-size: 32px;
   font-family: 'Inter', sans-serif;
   padding-left: 50px;
}

.coracao {
    left: 205px;
    top: 290px;
}

.categoriadereceitas {
    font-size: 28px;
    border: 2px solid #dfd9d9;
    position: relative;
    bottom: 35px;
    left: 50%;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 15px 60px;
    text-decoration: none;
    color: #000;

}

.refeicao {
    width: 250px;
    height: auto;
    margin-bottom: 20px;
}

.ingredientes {
    font-size: 28px;
    font-family: 'Inter', sans-serif;
    margin-left: 15px;
}
ul, il {
    font-family: 'Inter', sans-serif;
    margin-left: 40px;
    font-size: 22px;
    line-height: 1.5;
    padding-top: 15px;
}

.preparo {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    text-align: justify;
    padding-top: 20px;
    padding-left: 10px;
    margin-top: 15px;
}

.preparo__text {
    line-height: 1.5;
    padding-top: 10px;
    font-family: 'Inter', sans-serif;
}

.titulo__receitas {
    font-size: 24px;
    margin: 20px 0 20px;
    font-family: 'Inter', sans-serif;
}

.footer {
    margin-top: 25px;
    background: #19A7CE;
    padding: 50px;
    font-size: 24px;
}

#main {
    margin-top: 60px;
    padding: 50px;
}

.gastrite {
    font-size: 30px;
    font-family: 'Inter', sans-serif;
}

p {
    font-size: 23px;
    text-align: justify;
    font-family: 'Inter', sans-serif;
}